<!DOCTYPE html>
<html>
  <head>
    <title>top1234</title>
 </head>
<body>

<h1>top1234</h1>

  <a href="/pnews/<%=pnew.id %>">
  <h4><%=pnew.name %></h4></a>
  <h4><%=pnew.title %></h4>

</body>
</html> 
