<!DOCTYPE html>
<html>
  <head>
    <title>top123</title>
 </head>
<body>

<h1>HELLOO</h1>

<% pnews.map((pnew)=>{ %>
  <a href="/pnews/<%=pnew.id %>">
  <h4><%=pnew.name %></h4></a>
  <h4><%=pnew.title %></h4>
<% }) %>

</body>
</html> 
